/* 
    Write your CSS here 
    Gap Colour: #000
    White: #F0F1EC
    Red: #E72F24
    Black: #232629
    Blue: #004592
    Yellow: #F9D01E

    For dimensions, see dimensions.png image.
    HINT: Remember you can't change the properties of grid lines.
    But grid lines are transparent!
    */
    body
    {
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .grid-container
    {
      display: grid;
      height: 748px;
      width: 748px;
      gap: 9px;
      grid-template-columns:320px 198px 153px 50px ;
      grid-template-rows:414px 130px 155px 22px ;
      background-color: #000; 
    }
    .red{
      background-color: #E72F24;  
    }
    .white{
      background-color:#F0F1EC;
      grid-column: span 3;
    }
    .white2{
        background-color: #F0F1EC;
        grid-row: span 2;
    }
    .white3
    {
        background-color: #F0F1EC;
        grid-row: span 2;
        grid-column: span 2;
    }
    .blue
    {
        background-color:#004592 ;
        border-bottom:10px solid black;
        
    }
    .white4
    {
        background-color:#F0F1EC ;
        grid-row:span 2;
    }
    .white5
    {
        background-color:#F0F1EC;
    }
    .yellow
    {
        background-color: #F9D01E;
    }
    .green
    {
        background-color:#232629 ;
    }